body{
  background-image: url(/imagens/triton.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.titulo {
 
 display: ; 
 color: yellow; 

display: block;
align-content: center;
align-items: center;
align-self: center;

}